<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            </div>
            <!-- /.col-lg-12 -->

            <div>
              <div style="position:relative;padding-top:70.25%;">

                <iframe src="https://www.covid-19.ba" frameborder="0" allowfullscreen
                  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
              </div>
            </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
