<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">COVID-19 VACCINATION RESERVATION</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/qr-code.png" class=" img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information" style="margin: 0px;"">
                    <tbody>
                      <tr>
                        <td>Name and surname:</td>
                        <td id="name">Programming</td>
                      </tr>
                      <tr>
                        <td>Vaccination Date</td>
                        <td id="vacDate" >06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Vaccine</td>
                        <td id="vac">01/24/1988</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>City</td>
                        <td id="City">Female</td>
                      </tr>
                        <tr>
                        <td>Country</td>
                        <td id="Country">Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td id="Email"><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>


                      </tr>

                    </tbody>
                  </table>

                    <script type="text/javascript">

                      $(document).ready(function() {
                    var user_info = CSUtils.parse_jwt(window.localStorage.getItem("token"));
                    getProfile();

                });

                function getProfile(){
                  var user_info = CSUtils.parse_jwt(window.localStorage.getItem("token"));
                  var id= user_info.account_id;
                  console.log(id);


                  $.ajax({
                     url: 'http://localhost/cv19assistant/api/patients/profiles/' + id,
                     type: 'GET',
                     beforeSend: function(xhr){
                       if (localStorage.getItem("token")){ // optional header token due login and other endpoints
                         xhr.setRequestHeader('Authorization', localStorage.getItem("token"));
                       }

                     },
                     async: false,
                     cache: false,
                     timeout: 30000,
                     fail: function(){
                         return true;
                     },

                     success: function(data) {

                       console.log(data);

                       document.getElementById("name").innerHTML = data.Name;

                      document.getElementById("vacDate").innerHTML = data.VaccinationDate;
                      document.getElementById("vac").innerHTML = data.Vaccine;
                      document.getElementById("City").innerHTML = data.City;
                      document.getElementById("Country").innerHTML = data.Country;
                      document.getElementById("Email").innerHTML = data.Email;



}


                 });
                }



                  </script>
