<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Learn more about vaccines</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">





          <label>Vaccines</label>
          <select  type="text" name="Vaccines" class="form-control" id="Vakcine" onchange="getSelectValue();">
            <option value="0">Choose a vaccine</option>

              <option value="1">Sputnik V</option>
              <option value="2">Sinopharm-BBiPV</option>
              <option value="3">AstraZeneca-CoviSHIELD</option>
              <option value="4">SinoVAC</option>
              <option value="5">Pfizer-BioNTech</option>
              <option value="6">Moderna</option>
              <option value="7">Johnson&Johnson</option>


          </select>



            </div>

            <div class="panel-heading" type="text" id="myText">
                   <h3 class="panel-title">Hello</h3>
               </div>
        </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

  getSelectValue();


    function getSelectValue()
          {
              var selectedValue = document.getElementById("Vakcine").value;
              if (selectedValue==1){
                toastr.success("You have selected Sputnik V");
                document.getElementById("myText").value = "Johnny Bravo";

              }
              else if (selectedValue==2){
                toastr.success("You have selected Sinopharm-BBiPV");
              }
              else if (selectedValue==3){
                toastr.success("You have selected AstraZeneca-CoviSHIELD");
              }
              else if (selectedValue==4){
                toastr.success("You have selected SinoVAC");
              }
              else if (selectedValue==5){
                toastr.success("You have selected Pfizer-BioNTech");
              }
              else if (selectedValue==6){
                toastr.success("You have selected Moderna");
              }
              else if (selectedValue==7){
                toastr.success("You have selected Johnson&Johnson");
              }

          }











</script>
