<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Learn more about vaccines</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">





              <form role="form" id="add-patient">


                  <div class="form-group">
                      <label>Vaccines</label>
                      <select  type="text" name="Vaccine" class="form-control" required>
                          <option>Sputnik V</option>
                          <option>Sinopharm-BBiPV</option>
                          <option>AstraZeneca-CoviSHIELD</option>
                          <option>SinoVAC</option>
                          <option>Pfizer-BioNTech</option>
                          <option>Moderna</option>
                          <option>Johnson&Johnson</option>


                      </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Choose</button>

            </div>
              </form>
        </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

  if($_POST['add-patient'] == 'Sputnik V'){
    alert("Nedim");
  }





</script>
