<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Importance of vaccination</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-fw"></i> Why should we take a COVID-19 vaccine?
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"><i class="fa fa-question-circle"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">What are vaccines?</h4>

                                        <p>

                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Vaccines contain weakened or inactive parts of a particular organism (antigen) that triggers an immune response within the body. Newer vaccines contain the blueprint for producing antigens rather than the antigen itself. Regardless of whether the vaccine is made up of the antigen itself or the blueprint so that the body will produce the antigen, this weakened version will not cause the disease in the person receiving the vaccine, but it will prompt their immune system to respond much as it would have on its first reaction to the actual pathogen.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-medkit"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Dosage</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Some vaccines require multiple doses, given weeks or months apart. This is sometimes needed to allow for the production of long-lived antibodies and development of memory cells. In this way, the body is trained to fight the specific disease-causing organism, building up memory of the pathogen so as to rapidly fight it if and when exposed in the future.</p>


                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"><i class="fa fa-users  "></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Herd Immunity</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>When someone is vaccinated, they are very likely to be protected against the targeted disease. But not everyone can be vaccinated. People with underlying health conditions that weaken their immune systems (such as cancer or HIV) or who have severe allergies to some vaccine components may not be able to get vaccinated with certain vaccines. These people can still be protected if they live in and amongst others who are vaccinated. When a lot of people in a community are vaccinated the pathogen has a hard time circulating because most of the people it encounters are immune. So the more that others are vaccinated, the less likely people who are unable to be protected by vaccines are at risk of even being exposed to the harmful pathogens. This is called herd immunity.

This is especially important for those people who not only can’t be vaccinated but may be more susceptible to the diseases we vaccinate against. No single vaccine provides 100% protection, and herd immunity does not provide full protection to those who cannot safely be vaccinated. But with herd immunity, these people will have substantial protection, thanks to those around them being vaccinated.


</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Help</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Vaccinating not only protects yourself, but also protects those in the community who are unable to be vaccinated. If you are able to, get vaccinated.
</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge info"><i class="fa fa-fast-backward "></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Vaccines in history</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Throughout history, humans have successfully developed vaccines for a number of life-threatening diseases, including meningitis, tetanus, measles and wild poliovirus.

</p>
                                        <hr>
                                        <div class="btn-group">


                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>In the early 1900s, polio was a worldwide disease, paralysing hundreds of thousands of people every year. By 1950, two effective vaccines against the disease had been developed. But vaccination in some parts of the world was still not common enough to stop the spread of polio, particularly in Africa. In the 1980s, a united worldwide effort to eradicate polio from the planet began. Over many years and several decades, polio vaccination, using routine immunization visits and mass vaccination campaigns, has taken place in all continents. Millions of people, mostly children, have been vaccinated and in August 2020, the African continent was certified wild poliovirus free, joining all other parts of the world except Pakistan and Afghanistan, where polio has not yet been eradicated.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-heart"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Stay responsible!</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic, so it is hugely encouraging to see so many vaccines proving and going into development. WHO is working tirelessly with partners to develop, manufacture and deploy safe and effective vaccines.

Safe and effective vaccines are a game-changing tool: but for the foreseeable future we must continue wearing masks, cleaning our hands, ensuring good ventilation indoors, physically distancing and avoiding crowds.

Being vaccinated does not mean that we can throw caution to the wind and put ourselves and others at risk, particularly because research is still ongoing into how much vaccines protect not only against disease but also against infection and transmission..</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
